---
- name: Include OS-specific variables
  ansible.builtin.include_vars: "{{ lookup('ansible.builtin.first_found', params) }}"
  vars:
    params:
      files:
        - "{{ ansible_facts['distribution'] | lower }}.yml"
        - "{{ ansible_facts['os_family'] | lower }}.yml"
      paths:
        - vars

- name: Ensure NRPE package and plugins are installed
  ansible.builtin.package:
    name: "{{ item }}"
    state: present
  loop: "{{ nrpe_package }}"

- name: Ensure default commands are disabled
  ansible.builtin.replace:
    path: /etc/nagios/nrpe.cfg
    regexp: '^command\[(.*)$'
    replace: '#command\[\1'
  notify: Restart NRPE

- name: Configure Bash command substitutions
  ansible.builtin.replace:
    path: /etc/nagios/nrpe.cfg
    regexp: "^allow_bash_command_substitution=(.*)$"
    replace: "allow_bash_command_substitution={{ '1' if nrpe_allow_command_substitution else '0' }}"
  notify: Restart NRPE

- name: Ensure custom checks are present and enabled
  when: nrpe_custom_check_scripts | length > 0
  block:
    - name: Ensure custom check script file exist
      ansible.builtin.copy:
        content: |
          {{ item.script }}
        dest: "{{ nrpe_plugin_basepath }}/{{ item.name }}"
        owner: root
        group: root
        mode: "0755"
      loop: "{{ nrpe_custom_check_scripts }}"
      loop_control:
        label: "{{ item.name }}"

    - name: Ensure custom check script command exist
      ansible.builtin.template:
        dest: "{{ nrpe_etc_basepath }}/{{ item.name}}.cfg"
        mode: "0644"
        owner: root
        src: custom.cfg.j2
      loop: "{{ nrpe_custom_check_scripts }}"
      loop_control:
        label: "{{ item.name }}"

- name: Ensure additional check scripts are present and enabled
  when: nrpe_additional_check_scripts | length > 0
  block:
    - name: Ensure additional check script file exist
      ansible.builtin.copy:
        src: "{{ item.name }}"
        dest: "{{ nrpe_plugin_basepath }}/{{ item.name }}"
        owner: root
        group: root
        mode: "0755"
      loop: "{{ nrpe_additional_check_scripts }}"
      loop_control:
        label: "{{ item.name }}"

    - name: Ensure additional check scripts command exist
      ansible.builtin.template:
        dest: "{{ nrpe_etc_basepath }}/{{ item.name}}.cfg"
        mode: "0644"
        owner: root
        src: custom.cfg.j2
      loop: "{{ nrpe_additional_check_scripts }}"
      loop_control:
        label: "{{ item.name }}"

- name: Ensure system check commands are present
  ansible.builtin.template:
    src: system.cfg.j2
    dest: "{{ nrpe_etc_basepath }}/system.cfg"
    owner: root
    group: root
    mode: "0644"

- name: Ensure OS-specific command checks are present
  ansible.builtin.template:
    src: "{{ ansible_facts['os_family'] | lower }}.cfg.j2"
    dest: "{{ nrpe_etc_basepath }}/{{ ansible_facts['os_family'] | lower }}.cfg"
    owner: root
    group: root
    mode: "0644"

- name: Ensure smtp command checks are present
  ansible.builtin.template:
    src: smtp.cfg.j2
    dest: "{{ nrpe_etc_basepath }}/smtp.cfg"
    owner: root
    group: root
    mode: "0644"
  when: nrpe_include_smtp_checks

- name: Ensure allowed host can connect
  ansible.builtin.copy:
    content: "allowed_hosts={{ nrpe_allowedhosts | join(', ') }}\n"
    dest: "{{ nrpe_etc_basepath }}/allowedhosts.cfg"
    owner: root
    group: root
    mode: "0644"
