command[check_users]={{ nrpe_plugin_basepath }}/check_users -w {{ nrpe_check_users_warn }} -c {{ nrpe_check_users_crit }}
command[check_load]={{ nrpe_plugin_basepath }}/check_load -w {{ nrpe_check_load_warn }} -c {{ nrpe_check_load_crit }}
command[check_disk]={{ nrpe_plugin_basepath }}/check_disk -w {{ nrpe_check_disk_warn }}% -c {{ nrpe_check_disk_crit }}% -p /
command[check_total_procs]={{ nrpe_plugin_basepath }}/check_procs -w {{ nrpe_check_total_procs_warn }} -c {{ nrpe_check_total_procs_crit }}
command[check_zombie_procs]={{ nrpe_plugin_basepath }}/check_procs -w {{ nrpe_check_zombie_procs_warn }} -c {{ nrpe_check_zombie_procs_crit }} -s Z
command[check_swap]={{ nrpe_plugin_basepath }}/check_swap -w {{ nrpe_check_swap_warn }}% -c {{ nrpe_check_swap_crit }}%
command[check_ntp_peer]={{ nrpe_plugin_basepath }}/check_ntp_peer -H {{ nrpe_check_ntp_host }} -w {{ nrpe_check_ntp_warn }} -c {{ nrpe_check_ntp_crit }}
